*{
    margin: 10px;
}

h1{
    color: #0000ff;
    border: black 3px solid;
    padding: 15px;
}

body{
    border: black 3px solid;
    margin: 0;
}

header{
    border: red 2px dashed;
    border-radius: 10px;
    padding: 20px;
}

nav {
    color: whitesmoke;
    border: orange 3px solid;
    background-image: url('../images/background_hk.jpg');
}

nav a{
    color: white;
}

footer{
    border: green 3px solid;
    background-color: lightblue;
}

footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
