*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #464646;
}

body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #464646;
    color: white;
    padding: 10px 50px 0px 50px;
}

header nav a{
    color: white;
    margin: 18.72px;
    padding: 2px;
    font-size: small;
}

header h3{
    margin-left: 20px;
}

main h2{
    text-align: center;
    font-size: 33px;
}

main{
    background-color: rgb(183, 124, 15);
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 130px;
}

main p{
    background-color: rgb(183, 124, 15);
}

main h2{
    background-color: rgb(183, 124, 15);
}


#subscribe_section{
    display: flex;
    color: white;
    justify-content: center;
    background-color: #464646;
    padding: 16px;
}

#subscribe_section form{
    margin: 16px;
}

#subscribe_section input{
    background-color: white;
}

#subscribe_section button{
    background-color: rgb(183, 124, 15);
    color: white;
}

#image_section {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    background-color: white;
}

#image_section div{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
    width: 400px;
    background-color: white;
}

#image_section p{
    background-color: white;
}

#image_section img{
    background-color: white;
}

footer
{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
    text-align: center;
    background-color: #464646;
    padding: 10px;
    
}